$font-stack: "PT Serif", serif;
$primary-color: #173B45;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}
  
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
  
.fromRight{
    opacity: 50;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(90%);
}
  
.showRight{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.fromButtom{
    opacity: 50;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(90%);
}
  
.showButtom{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
  
@media (prefers-reduced-motion){
    .hidden{
      transition: none;
    }
}
  
@media (prefers-reduced-motion){
    .fromRight{
      transition: none;
    }
}

#hero_bg{
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    position: sticky !important;
}

.hero_container{

    width: 90%;
    padding: 5px;
    margin-left: 5%;
    position: absolute;
    top: 20%;
    display: block;
    justify-content: center;
    
    .book{
        display: flex;
        align-items: center;
        column-gap: 30px;

        .vl{
            border-left: 2px solid white;
            height: 60px;
        }

        .search_icon{
            padding: 2px;
            color: black;
            font-size: 2rem;
        }
        ::placeholder{
            color: $primary-color;
        }
        input{
            width: 100%;
            padding: 10px 10px 10px 40px;
            font-size: 1.5em;
            border: none;
            border-bottom: 2px solid #ccc;
            outline: none;
            background-color: transparent;
            transition: border-color 0.3s;
        }
        
        input:focus{
            border-color: black;
        }
    
        button{
            font-family: arial;
            font-weight: 100;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
            padding: 25px 23px;
            border: 2px solid white;
            background: $primary-color;
            color: white;
            
        }
    
        #book_btn:hover {
            border-color: $primary-color;
            background: white;
            color: $primary-color;
        }

    }

    #services{
        color: gold;
        font-size: 15rem;
        font-weight: 50;
    }
}

#mid_img{
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 25%;
    top: 240%;
    
}

.marketing{
    background-color: beige;
    width: 100%;
    min-height: 130vh

}

.marketing_container{
    padding-top: 10%;
    margin: 10% 0% 10% 0%;
    font-size: 3rem;
    text-align: center;
    h1{
        color: #173B45;
        font-weight: 100;
    }
}

.serv_cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

    .icon_wrapper{
       padding: 5px;
       text-align: center;
       margin: 5%;
       font-size: 100px;
       color: gold;
    }
    
    h1{
        
        font-size: 3rem;
        font-weight: 100;
        text-align: center;
    }
    h2{
        padding: 2% 20% 2% 20%;
        font-weight: 100;
        font-size: 1.4rem;
        font-family: sans-serif;
        text-align: center;
    }
}

.we{
    background-color: $primary-color;
    text-align: center;
    color: white;
    padding-bottom: 5%;

    .vl{
        border-left: 2px solid white;
        height: 250px;
    }

    h1{
        font-weight: 100;
        padding:5%;
        font-size: 5rem;
    }

    h2{
        font-size: 3rem;
        font-weight: 100;
        color: gold;
    }

    p{
        font-family: arial;
        padding:4%;
        font-size: 1.5rem;
        line-height: 1.5em;
    }

    .we_cont{
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        padding: 5%;
    }
   
}

#sites_img{
    align-self: center;
    width: 40%;
}


.section3{
    background-color: #173B45;
    width: 100%;
    height: auto;

    .grid_decor{
        padding: 40% 20% 5% 20% ;
        color: white;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 3rem;
        row-gap: 3rem;
        

        // .photo{
        //     width: 20px;
        // }

        #photo1{
            width: 150%;
            height: 100%;
            grid-column: 3;
            grid-row: 1;
            border-radius: 10px;
        }

        .text1{
            grid-column: 3;
            grid-row: 2/3;
            h1{
                color: gold;
                font-size: 5rem;
                font-weight: 100;
            }
        }

        #photo2{
            width: 100%;
            grid-column: 2/5;
            grid-row: 3;
            border-radius: 10px;
        }

        .text2{
            grid-column: 1/4;
            grid-row: 1;
            line-height: 2;

            h1{
                color: gold;
                font-size: 5rem;
                font-weight: 100;
            }
            ul{
                color: gold;
                font-family: Arial;
                font-size: 1.5rem;
            }
            span{
                color: white;
            }
           
        }

        #photo3{
            width: 100%;
            grid-column: 1/3;
            grid-row: 2;
            border-radius: 10px;
        }

        .text3{
            grid-row: 2/10;
            grid-column: 1;
            h1{
                color: gold;
                font-size: 5rem;
                font-weight: 100;
            }
        }
    }
}

.section4{
    background-color: black;
    opacity: 0.8;
    
}

.bg{
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
    
}

.selling{
    text-align: center;
    padding: 150px;
    font-weight: bold;
    border: white;

    .selling_cont:nth-child(2){
        transition-delay: 200ms;
    }
    .selling_cont:nth-child(3){
        transition-delay: 400ms;

    }
    .selling_cont:nth-child(4){
        transition-delay: 600ms;

    }
    .selling_cont:nth-child(5){
        transition-delay: 800ms;

    }
    
       

    .selling_flex{
        padding: 5%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: space-evenly;        

    }

    h1{
        font-size: 5rem;
        color: white;
        text-decoration: none;
    }

    .selling_cont{
        padding: 2%;

        h1{
            font-size: 6rem;
            color: gold;
            font-weight: 100;
            margin: 5px;
        }
        p{
            font-weight: 100;
            font-family: Arial;
            font-size: 1.4rem;
            color: white;
        }
    }

    
}

.buying{
    text-align: center;
    padding: 150px;
    font-weight: bold;
    border: white;
    border-top: 3px solid white;
       
    .buying_cont:nth-child(2){
        transition-delay: 200ms;
    }
    .buying_cont:nth-child(3){
        transition-delay: 400ms;

    }
    .buying_cont:nth-child(4){
        transition-delay: 600ms;

    }

    .buying_flex{
        padding: 5%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: space-evenly;        

    }

    h1{
        font-size: 5rem;
        color: white;
        text-decoration: none;
    }

    .buying_cont{
        padding: 2%;

        h1{
            font-size: 6rem;
            color: gold;
            font-weight: 100;
            margin: 5px;
        }
        p{
            font-weight: 100;
            font-family: Arial;
            font-size: 1.4rem;
            color: white;
        }
    }

    

    
}

.over{
    background-color: $primary-color;
    padding: 10%;

    .grid_over{
        display: grid;
        grid-template-columns: repeat(9, 2fr);
        grid-gap: 2em;
        

        p{
            font-family: arial;
            font-weight: 100;
            line-height: 2rem;
            color: white;
            font-size: 1.2rem;
        }

        .text_1{
            grid-column: 8/10;
            grid-row: 1;

            h1{
                font-weight: 100;
                font-size: 3rem;
                color: white; 
                margin-bottom: 5%;               
            }
           
        }

        #img_1{
            grid-column: 5/7;
            grid-row: 1/3;
            width: 150%;
            height: 80%;
        }

        .text_2{
            grid-column: 1/4;
            grid-row: 3;
            h1{
                font-weight: 100;
                color: white;
                font-size: 3rem;
                margin-bottom: 5%;
            }
        }

        #img_2{
            grid-column: 1/3;
            grid-row: 2/3;
            width: 140%;
        }

        .text_3{
            grid-column: 5/9;
            grid-row: 4;
            h1{
                font-weight: 100;
                color:white;
                font-size: 3rem;
                margin-bottom: 5%;
            }

            span{
                color: white;
            }

            li{
                line-height: 2em;
                font-family: arial;
                font-size: 1.2rem;
                color: gold;
            }
        }

        #img_3{
            grid-column:5/7;
            grid-row: 3;
            width: 250%;
            height: 100%;
        }

        #img_4{
            width: 100%;
            grid-column:1/4;
            grid-row: 4;
        }

        .text_4{
            grid-column: 1/4;
            grid-row: 5;
        }

        .two_logo{
            grid-column: 1/4;
            display: flex;
            grid-row: 6;
            justify-content: space-between;
            justify-content: space-evenly;
            justify-content: space-around;
            column-gap: 5%;
            #logo1{
                width: 45%;

            } 
            #logo2{
                width: 100%;
            }
        }

        .text_5{
            h2{
                font-weight: 100;
                color: white;
                margin-bottom: 5%;
            }

            grid-row: 7;
            grid-column: 1/4;
        }

        #logo3{
            grid-column: 1/9;
            grid-row: 8;
        }

        .text_6{
            grid-column: 1/4;
            grid-row: 9;

            h2{
                color: white;
                font-weight: 100;
                margin-bottom: 5%;
            }
        }

        #img_5{
            width: 90%;
            grid-column: 5/8;
            grid-row: 5/9;
        }

        .text_7{
            grid-column: 5/8;
            grid-row: 8/11;
        }
    }
}

.work{
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), $primary-color ),url(https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/oloxyay5w6o32z2ipjk2/10);
    padding: 10%;

    .work_cont{
        background: opacity($color: black);
        text-align: center;
        padding: 3% 20%;
    }

    h1{

        align-self: center;
        font-size: 5rem;
        color: white;
        margin-bottom: 5%;
    }
    h2{
        font-weight: 100;
        font-family: arial ;
      color: white;
      margin-bottom: 5%;
    }

    button{
        
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        padding: 25px 23px;
        border: 2px solid white;
        background: $primary-color;
        color: white;
        
    }

    #book_btn:hover {
        border-color: $primary-color;
        background: #f7f7f7;
        color: $primary-color;
    }
}


